<log4net>
  <root>
    <level value="ALL" />               
    <appender-ref ref="console" />
    <appender-ref ref="file" />
  </root>
  <appender name="console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <!-- <file value="LogFile.log" />
    Setting the path of logs in th enext line, as opposed to the default setting above which puts it in the Bin-->
    <file type="log4net.Util.PatternString" value="%property{LogFileName}" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <!--Set to zero to keep zero backups-->
    <maxSizeRollBackups value="0" />
    <!--Will delete all of the text inside the log once it reaches 2MB-->
    <maximumFileSize value="2MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <!--<conversionPattern value="%date [%thread] %level %logger - %message%newline" />-->
      <!--I can add the session ID if I wanted to in this config file. See LogHelper method in BrowserTest class for more info--> 
      <!--<conversionPattern value="%property{sessionID} %date{HH:mm:ss MMM dd} %level - %message%newline" />-->
      <conversionPattern value="%date{HH:mm:ss MMM dd} %level - %message%newline" />
    </layout>
  </appender>
</log4net>


<!--IMPORTANT IMPORTANT IMPORTANt. If you change any values, you must CLEAN then REBUILD your project for them to take effect-->

<!-- Log4Net HowTo example: https://stackify.com/log4net-guide-dotnet-logging/ 
See Assemblyinfo.cs for configuration -->